.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-btn {
  background-image: url(../images/like-icon-dark.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card__like-btn:hover,
.card__like-btn:focus {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    max-width: 235px;
  }
}
