.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease-out;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url(../images/Close_btn_Black.svg); /* Use your SVG file path */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  opacity: 40%;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  margin: 0 0 32px;
  letter-spacing: 0;
}

.modal__submit-btn {
  border-radius: 8px;
  border: none;
  background-color: #212121;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  max-width: 156px;
  height: 52px;
  gap: 8px;
  color: #fcf5e5;
}
.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__input {
  display: block;
  margin-top: 8px;
  height: 52px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
  gap: 10px;
  padding: 16px 12px;
  border-style: solid;
  color: #212121;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
}

@media screen and (max-width: 320px) {
  .modal {
    padding-left: 12px;
    padding-right: 12px;
    margin: auto;
  }
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    width: 276px;
    height: 48px;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
  .modal__close-btn {
    top: 16px;
    right: 16px;
  }
}
