.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close_icon.svg);
  opacity: 40%;
  /* Add close icon and make sure it looks right*/
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 110%;
  margin: 0 0 32px;
  letter-spacing: 0;
}

.modal__submit-btn {
  background-image: url(../images/Save_button.svg);
  top: 18px;
  right: 32px;
  bottom: 18px;
  left: 32px;
  border-radius: 8px;
  max-width: 156px;
  height: 52px;
  gap: 8px;
  color: #212121;
}

.modal__input {
  display: block;
  margin-top: 8px;
  height: 52px;
  width: 630px;
  border-radius: 8px;
  border: 1px;
  top: 16px;
  right: 12px;
  bottom: 16px;
  left: 12px;
  gap: 10px;
  border-style: solid;
  color: #21212166;
}

.modal__input::placeholder {
  color: #2121214d;
}

@media screen and (max-width: 627px) {
  .modal {
    width: 300px;
    height: 336px;
    top: 134px;
    left: 10px;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    gap: 24px;
    margin: auto;
  }

  .modal__input {
    width: 276px;
    height: 48px;
    border-radius: 8px;
    border: 1px;
    top: 16px;
    right: 12px;
    bottom: 16px;
    gap: 10px;
    border-style: solid;
  }
  .modal__submit-btn {
    width: 100%;
  }
}
